* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
  }
  
  .primeralinea {
    background-color: rgb(183, 221, 247);
    display: flex;
    justify-content: space-between;
    height: 30px;
  }
  .segundaprincipal {
    display: flex;
    background-color: rgb(223, 97, 248);
  }
  .segundalinea {
    color: white;
    background-color: rgb(21, 4, 82);
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    letter-spacing: 1px;
  }
  .segundalista {
    background-color: rgb(142, 197, 248);
    width: 100%;
    flex-direction: row;
    text-align: right;
  }
  
  .cuerpo {
    background-color: rgb(165, 165, 245);
    background-image: url("img/mar.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    list-style: none;
    display: inline-block;
    margin: 20px;
  }
  
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 50px;
    
  }
  h2 {
    font-size: 50px;
  }
  h4 {
    font-size:20px ;
  }